//If this is in the /views folder, it has been placed here
//by gulp-inject or by wiredep after injecting the dependencies.

extends layout

block styles

  //bower:css
  //endbower
  
  //- inject:css
  //- endinject
block content
  h1= title
  p Welcome to #{title}
  block scripts
  
    //bower:js
    //endbower
  
    //- inject:js
    //- endinject
